/* Carousel d'entrée dans le site */
.centerAll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#mainBG {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
@media screen and (max-width: 650px) {
  .main-image {
    width: 80%;
  }
}

/* Titre des sections */
.title-deco {
  position: relative;
}
.title-deco::after {
  position: absolute;
  content: "";
  width: 42px;
  height: 4px;
  background: #1f293a;
  left: 0;
  bottom: 0px;
}

/*section SAP Landscapes*/
/*css tab*/  
.tab {
display: none;
padding: 20px 0 0;
border-top: 1px solid #ddd;
align-items: center;
}
input {
display: none;
}
label {
display: inline-block;
margin: 0 0 -1px;
padding: 15px 25px;
font-weight: 600;
text-align: center;
color: #bbb;
border: 1px solid transparent;
}
label:before {
font-weight: normal;
margin-right: 10px;
}
label:hover {
color: #888;
cursor: pointer;
}
input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid #5532fa;
border-bottom: 1px solid #fff;
}
#tab1:checked ~ #front,
#tab2:checked ~ #back
{
display: block;
}
@media screen and (max-width: 650px) {
label {
  font-size: 0;
}

label:before {
  margin: 0;
  font-size: 18px;
}

.numbers-icons {
  margin-top: 20px;
}

.technos {
  transform: scale(1.25);
}
}
@media screen and (max-width: 400px) {
label {
  padding: 15px;
}

.numbers-icons {
  margin-top: 20px;
}
}
@media screen and (max-width: 500px) {
.technos {
  transform: scale(1.5);
}
}

/* section team members */
/*Glissière image*/


@keyframes scroll {
0% {
  transform: translateX(0);
}

100% {
  transform: translateX(calc(-250px * 7));
}
}

.members {
height: 120px;
margin: auto;
overflow: hidden;
position: relative;
}

.members::before, .members::after {
background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
content: "";
height: 100px;
position: absolute;
width: 1px;
z-index: 1;
}

.members::after {
right: 0;
top: 0;
transform: rotateZ(180deg);
}

.members::before {
left: 0;
top: 0;
}

.members .sliders {
animation: scroll 8s linear infinite;
display: flex;
width: calc(250px * 14);
overflow: hidden;
}

.members .slide {
  height: 150px;
  width: 150px;
  }

.members .slide img{
  height: 80%;
  width: 100%;
  clip-path:ellipse(45% 50%);
}

@media (max-width: 540px) {
  .members {
    height: 100px;
  }

  .members .slide img{
    height: 80%;
    width: 100%;
    clip-path:ellipse(45% 50%);
  }
}

/* Section team values*/

/* slider */

.value {
position: relative;
overflow: hidden;
}

.value .slider2 {
height: 100%;
white-space: nowrap;
font-size: 0;
transition: 0.8s;
}

.value .slider2 > * {
font-size: 1rem;
display: inline-block;
white-space: normal;
height: 100%;
width: 100%;
background: none 50% no-repeat;
margin-bottom: 5%;
}

.value .prevNext {
position: absolute;
z-index: 1;
top: 40%;
width: 100%;
height: 0;
}

.value .prevNext > div+div {
visibility: hidden; 
}

.value .prevNext a {
background: transparent;
position: absolute;
width: 50px;
height: 50px;
-webkit-transition: 0.3s;
        transition: 0.3s;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
left: 0;
}

.value .prevNext a:hover {
opacity: 1;
}

.value .prevNext a+a {
left: auto;
right: 0;
}


.value >s:target ~ .prevNext >* { visibility: hidden;}
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}

#s1:target ~ .slider {transform: translateX(0%); -webkit-transform: translateX(0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}

.value {
color: black;	
text-align: center;
}

.value a {
margin: 0 10px;
color: rgba(0,0,0,0.8);
}

.arrow-left {
border-right: 25px solid rgb(255, 255, 255);
border-left: 25px solid transparent;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
}

.arrow-right {
border-left: 25px solid rgb(255, 255, 255);
border-right: 25px solid transparent;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
}

@media screen and (max-width: 650px) {
.desc {
  margin-left: -8%;
}
}

@media screen and (max-width: 300px) {
.desc {
  margin-left: -16%;
}
}

.values-logo {
  width: 80px;
}

@media screen and (max-width: 650px) {
  .values-logo {
    width: 60px;
  }
}

.hover-btn{
  all: unset;
  cursor: pointer;
  margin-left: 60px; border:
  2px solid white; color: white;
  padding: 5px; border-radius: 10%;
  width: 60px;
  text-align: center;
}

.hover-btn:hover {
  color: #1f293a;
  background-color: white;
}

@media screen and (max-width: 668px) {
  .title-move {
    margin-left: 10px;
  }
}

.container23 {
  display:grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#TEST {
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  margin: 1.5em;
  cursor: pointer;
  padding: 1em;
  background: #1f293a;
  position: relative;
  color: white;
  border-radius: 5px;
}

#TEST::before,
#TEST::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  width: 105%;
  transition: all 0.4s;
}

#TEST::before {
  left: 0;
  height: 130%;
  background: linear-gradient(to right, #1f293a, #0575E6);
}

#TEST::after {
  left: -10%;
  height: 120%;
  background: #ffffff56;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px white;
}

#TEST:hover::before {
  transform: translateX(-2.5%);
}

#TEST:hover::after {
  transform: translateX(15%);
}

.sliderContainer {
  overflow: hidden;
  width: 200vw;
  height: 200px;
}

.logoSlider>img {
  width: 100px;
  height: 100px;
  justify-content: center;
}

.logoSlider {
  display: flex;
  animation: linear 1.5s infinite running;
  animation-name: slideshow;
}

.send_button {
  background-color: #1f293a;
  border-style: groove;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@keyframes slideshow {
  from {
    transform: translate(0px);
  }

  to {
    transform: translate(-100px);
  }
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0) ;
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider-position {
  margin-top: 5rem;
  margin-left: 5rem;
}

@media screen and (max-width: 1023px) {
  .slider-position{
    margin-top: 6rem;
    margin-left: 0;
  }
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.avatar {
  border-radius: 40%;
}

@media screen and (max-width: 1023px) {
  .responsive_div{
    display: none;
  }
}

@media screen and (max-width: 767.99px) {
  .list-responsive{
    margin-top: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .cloud-list{
    margin-right: 100px;
  }
  .premise-list{
    margin-left: 100px;
  }
}