<div id="root">
  <div id="topnav" class="topnav">
    <a id="home_link" href="{{ .Site.BaseURL }}" class="topnav_link"> <img src="/img/logo.png" style="width: 80px;"/>

    <nav role="navigation" id="topnav_menu">
      <a href="#about">About us</a>
      <a href="#landscape">Landscaper</a>
      <a href="#team">Team</a>
      <!-- <a href="https://www.jobteaser.com/fr/companies/vinci-energies-si/job-offers" target="_blank">Career</a> -->
    </nav>

    <a id="topnav_hamburger_icon" href="javascript:void(0);" onclick="showResponsiveMenu()">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <nav role="navigation" id="topnav_responsive_menu">
      <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{end}}
      </ul>
    </nav>
  </div>
</div>